* {
    background: rgb(204, 202, 202);
}

.campo {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    text-decoration: underline;
    font-size: 28px;
    color: rgb(121, 33, 33);
}

h3 {
    font-size: 18px;
    color: rgb(13, 19, 104);
}